<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link type="text/css" th:href="@{/css/userIndex.css}" rel="stylesheet">
<link type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>服务器内部错误</title>
</head>
<body style="margin-top:50px">



<!--500-->
<div class="container">
    <div class="row">
        <h2 class="text-center">500. INTERNAL_SERVER_ERROR</h2>
        <p class="text-center">服务器崩啦，暂时访问不了(┬＿┬)，等待小c修好哦o(∩_∩)o</p>
        <pre class="page-403">
                                                                              .----.
                                                                           _.'__    `.
                                                                       .--($)($$)---/#\
                                                                     .' @          /###\
                                                                     :         ,   #####
                                                                      `-..__.-' _.-\###/
                                                                            `;_:    `"'
                                                                          .'"""""`.
                                                                         /,  ya ,\\
                                                                        //  500!  \\
                                                                        `-._______.-'
                                                                        ___`. | .'___
                                                                       (______|______)

        </pre>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-left:-15px">
        点此→<a href="javascript:history.go(-1)">返回上一步</a>
            </div>
        </div><br><br><br><br><br><br>
        <div class="row">
            <div class="col-md-12 text-center" style="margin-left:-15px">
                © 2018-2019 小c公司 版权所有
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/userIndex.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>
</body>
</html>