<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link type="text/css" th:href="@{/css/userIndex.css}" rel="stylesheet">
<link type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>员工订餐系统</title>
</head>
<body>

<!--头部-->
<nav th:replace="publicPage/userIndex_bar::headerBar"></nav>

<!--内容：欢迎界面-->
<!--<div th:replace="publicPage/userIndex_bar::contentBar"></div>-->
<div class="container" style="min-height: 127px;margin-top:30px">
    <!--内容-->
    <div class="row" style="min-height: 127px;">
        <div class="contentText">

            <div class="col-md-12">
                <img th:src="@{/img/welcomeIndex.png}" style="height: 500px;width: 100%">
                <div style="background-color: #F2ECE4;height: 200px;width: 100%" class="text-center">
                    欢迎您使用本订餐系统，该订餐系统能方便您的时间<br>
                    <div class="container">
                        <div class="row">
                            <a th:href="@{/user/rice}">
                            <div class="col-md-2 col-md-offset-2">
                                <img th:src="@{/img/food/food001.jpg}" height="100" width="100"><br><br>
                                <b>饭食</b>
                            </div>
                            </a>
                            <a th:href="@{/user/fenMian}">
                            <div class="col-md-2">
                                <img th:src="@{/img/food/food002.jpg}" height="100" width="100"><br><br>
                                <b>粉面</b>
                            </div>
                            </a>
                            <a th:href="@{/user/drink}">
                            <div class="col-md-2">
                                <img th:src="@{/img/food/food003.jpg}" height="100" width="100"><br><br>
                                <b>饮料</b>
                            </div>
                            </a>
                            <a th:href="@{/user/rice}">
                            <div class="col-md-2">
                                <img th:src="@{/img/right.jpg}" height="100" width="100"><br><br>
                                <b>全部商品</b>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--提醒-->
    <div class="row">
        <div class="col-md-12" style="text-align: center">
            送餐时间可能会推迟哦，到时候送餐员会电话联系您~
        </div>
    </div>
</div>

<!--尾部-->
<footer th:replace="publicPage/userIndex_bar::footerBar"></footer>
<script type="text/javascript" th:src="@{/js/userIndex.js}"></script>
</body>
</html>